#searchbar{
    margin-top: 7px;
    padding-right: 150px;
    margin-left: 50px;
}

.searchbar{
    margin-top: 5px;
}

.btn-spacing {
    margin-top: 20px;
}

.form-spacing-top{
    margin-top: 30px;
}
